toolbar[iconsize="small"] #tabhunterToolbarIcon {
  list-style-image: url("chrome://tabhunter/skin/martini-16x16.png");
}

#tabhunterToolbarIcon {
  list-style-image: url("chrome://tabhunter/skin/martini-24x24.png");
}

#view-url {
    color:black;
}

#view-url.nohits {
    color: #999999;
}

menupopup#listPopupMenu > menuitem {
  border: 1px solid transparent;
  padding: 1px 30px 1px 5px;
  max-width: none;
  font: message-box;
  color: -moz-FieldText;
}

#currentTabList .listcell-icon, listitem.listitemTabhunter listcell.listcell-iconic image.listcell-icon {
    height: 16px;
    width: 16px;
    max-height: 16px;
    max-width: 16px;
}

#progressMeterWrapper.hide {
  visibility: hidden;
}
#progressMeterWrapper.show {
  visibility: visible;
}
/*
.progressShow {
  display: inline;  
}
.progressHide {
  display: none;  
}
*/

/* Hide the TestTab as we move into the e10s dual-process world */
#TextTab {
    visibility: hidden;
}
