
body {
    height: auto; /* 24em; */
    border: solid 1px;
}

div#change-shortcut-div.hide {
    display: none;
    visibility: hidden;
}

div#change-shortcut-div.show {
    display: block;
    visibility: visible;
}

button.restoreButton {
    border: none;
}

button.restoreButton:hover {
    border-color: rgb(109, 109, 109);
    background-color: #ddd;
}
