/* tabhunter.css -- See LICENSE.txt for copyright and license details. */

* {
  box-sizing: border-box;
}

html {
  background: rgb(240,240,240);
/*  height: 300px; */
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 10px;
  width: 600px;
  background: rgb(240,240,240);
  margin: 0 auto;
  padding: 2px;
  height: inherit;
}

div#form {
    width: 98%;
    /* To see the outline of the form */
    border: 1px solid #CCC;
    border-radius: 0.1em;
}

div#form div + div {
    margin-top: 6px;
}

label.text {
    font-size: 9pt;
    display: inline-block;
    width: 70px;
    text-align: right
}

.row input {
    width: 80%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}

input.input-text {
  border: 1px solid rgb(218,218,218);
  padding: 4px;
  background: white;
  border-radius: 3px;
}

input.input-text:focus {
    border-color: #000;
}

.buttondiv {
    margin-top: 3pt;
    font-size: 8pt;
}

span.hide {
    display: none;
    visibility: hidden;
}

span.show {
    display: inline;
    visibility: visible;
}

div#moveToWindowArea {
    padding-left: 6pt;
}

div#moveToWindowArea.hide {
    display: none;
    visibility: hidden;
}

div#moveToWindowArea.show {
    border-top: 1px solid;
    padding-top: 2pt;
    display: block;
    visibility: visible;
}

div#statusbar.hide {
    display: none;
    visibility: hidden;
}

div#statusbar.show {
    display: block;
    visibility: visible;
}

div#moveToWindowArea {
    padding-bottom: 2pt;
}

div#moveToBookmarkContainer {
    border-top: 1px solid;
    padding-top: 2pt;
    padding-bottom: 2pt;
}

div#discardArea {
    border-top: 1px solid;
    padding-top: 2pt;
}

input.xbutton {
    border: 1px solid red;
    margin-left: 6px;
    margin-right: 0px;
}

label.checkbox {
    font-size: 8pt;
}

.button {
/*  padding-left: 70px; */
}

.button {
  margin-left: .5em;
  border: 1px solid rgb(218,218,218);
  padding: 2px;
  background: white;
  border-radius: 3px;
}

.button.highlighted {
    border-color: rgb(109, 109, 109);
}

.button.pressed {
    background-color: #ddd;
}

div#main {
}

ul {
    height: 200px;
    overflow: scroll;
    overflow-x: scroll;
    width: auto;
    white-space: nowrap;
}

ul#list {
    border: 1px solid #999;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    padding-left: 2px;
    font-size: 9pt;
    background: white;
}

ul#list li {
    margin-top: 3px;
    padding-left: 20px;
    background-position-x: 0;
    background-position-y: 0;
    background-size: 16px auto;
    background-repeat: no-repeat;
}

ul#list li.tabenter {
    border-top: 1px dotted green;
    /* border-top: 1px dotted #cccccc; */
}

ul#list li.tabenter-after {
    border-bottom: 1px dotted green;
    /* border-bottom: 1px dotted #cccccc; */
}

ul#list li.duplicate.discarded {
    color: #CD853F; /* peru; */
}

ul#list li.duplicate {
    color: orange;
}

ul#list li.discarded {
    color: #708090; /* slategrey */
}

ul#list li.selected {
    background-color: #ccc;
}

span#activity {
    font-size: 10pt;
    margin-left: 0.5em;
}


#closeTabs {
    margin-left: 1em;
    margin-right: 1em;
}

#textarea {
    display: none;
}
